In [79]:
#CAPTURAR DATOS PARA BD_Consultas_URG1_CPY
#urgencias

import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import warnings
from pandas.tseries.offsets import MonthBegin
with warnings.catch_warnings():
    warnings.filterwarnings('ignore', r'elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison(.*)')


# SABANAS DE DATOS COMPLETA DE AGENDAS

archivo = r'C:\COSAS\09 SEPTIEMBRE\113100 SA_20_SEPTIEMBRE.xlsm'

df1 = pd.read_excel(archivo, sheet_name='A08',skiprows=10,usecols=['Unnamed: 0','Ambos Sexos'])
df2 = df1.rename(columns={'Unnamed: 0':'Tipo_atencion'})
df3=df2.query("Tipo_atencion in ('ATENCIÓN MÉDICA NIÑO Y ADULTO','ATENCIÓN MÉDICA GINECO-OBSTETRA','ATENCIÓN POR MATRONA')")
df3

                     Tipo_atencion Ambos Sexos
0    ATENCIÓN MÉDICA NIÑO Y ADULTO        5941
1  ATENCIÓN MÉDICA GINECO-OBSTETRA         633
2             ATENCIÓN POR MATRONA        1121

In [104]:
#Dental
df4 = pd.read_excel(archivo, sheet_name='A09',skiprows=10,usecols=['Unnamed: 0','Ambos Sexos'])
df5 = df4.rename(columns={'Unnamed: 0':'actividad'})
df6=df5.query("actividad in ('CONSULTA DE MORBILIDAD','CONSULTA DE URGENCIA (GES)')")
df6['Ambos Sexos'] = df6['Ambos Sexos'].astype(float)

df6['DENTAL UEH'] = df6[['Ambos Sexos']].sum(axis=1)

df6

                    actividad  Ambos Sexos  DENTAL UEH
0      CONSULTA DE MORBILIDAD          0.0         0.0
2  CONSULTA DE URGENCIA (GES)          0.0         0.0

                    actividad  DENTAL UEH
0      CONSULTA DE MORBILIDAD         0.0
1  CONSULTA DE URGENCIA (GES)         0.0